.btn {
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 13px 40px;
    border: 0;
    transition: background-color 200ms, color 200ms;
}

.btn-default {
    color: var(--white);
    background-color: var(--primary-1);
}

.theme-switcher {
    padding: 5px !important;
    margin-right: 10px;
    }
  