.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn-default {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.btn-edit {
  background-color: #fff;
  color: #00bc77;
  border-color: rgb(0,188,119,0.5);
  border-radius: 2px;
  font-size: 12px;
  padding: 5px 30px;
}

.w100 {
  width: 100%;
}

